<div class="hold-transition login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <a href="/"><b>Esqueci minha senha</b></a>
        </div>
        <p class="login-box-msg">Identifique-se para receber um e-mail com as instruções e o link para criar uma nova senha</p>
        <div class="alert alert-info" role="alert" *ngIf="message">
         {{message}}
        </div>
        <form (ngSubmit)="onSubmit(forgotForm)" #forgotForm="ngForm">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <p class="text-danger pl-1" *ngIf="error.email">{{error.email}}</p>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-danger btn-block" [disabled] = "wait">Enviar senha</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
