<div class="hold-transition login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <a href="#"><b>Alteração de senha</b></a>
        </div>
        <p class="login-box-msg">Digite a senha nova e confirme.</p>
        <p class="login-box-msg text-success" *ngIf="message">{{message}}</p>

        <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Senha" name="password" ngModel>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <p class="text-danger pl-1" *ngIf="error.password">{{error.password}}</p>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirmar senha" name="password_confirmation" ngModel>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-danger btn-block">Alterar senha</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
